///*------------------------------------*\
//    #PALETTE
//\*------------------------------------*/

$red: #F7444E;
$white: #FFFFFF;
$blue: #78BCC4;
$lightblue: #E2F0F1;
$darkblue: #002C3E;
$grey: #F1F2F6;