@import './variable.scss';

/* Global Style
======================================== */

.btn {
    background-color: $vert_pomme;
    color: $text_color;
    height: 35px;
    font-size: $font-sm;
    border: none;
    padding: 0;

    &--large {
        height: 50px;
    }
}

a, .btn {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

*:focus {
    outline: none;
}

/* Texte classes 
======================================== */

.txt-xxs {
    font-size: $font-xxs;
}

.txt-xs {
    font-size: $font-xs !important;
}

.txt-sm {
    font-size: $font-sm;
}

.txt-md {
    font-size: $font-md;
}

.txt-lg {
    font-size: $font-lg;
}

.txt-xl {
    font-size: $font-xl;
}

.txt-xxl {
    font-size: $font-xxl;
}

.txt-xxxl {
    font-size: $font-xxxl;
}