// Palette

$vert_main: #9FCD9E;
$vert_main_light: #A5D2A0;
$vert_pomme: #E1FF9E; //Btn
$beige: #F5FAE7;
$text_color: #8A9D9D;

// text font variables

$font-xxs: 12px;
$font-xs: 14px;
$font-sm: 16px;
$font-md: 20px;
$font-lg: 24px;
$font-xl: 26px;
$font-xxl: 42px;
$font-xxxl: 64px;

// Shadow

$shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);