@import './connected/index.scss';
@import './vitrine/index.scss';

///*------------------------------------*\
//    #GLOBAL-STYLES
//\*------------------------------------*/

/*
 * =====================================
 * RESET
 * =====================================
 */

 html, body {
     margin: 0;
     padding: 0;
 }

/*
 * =====================================
 * SCAFOLD
 * =====================================
 */
.container-fluid {
    width: unset;
    max-width: 1400px !important;
    padding: 0 100px;
    margin: 0 auto;
    max-width: none;

    @include media-breakpoint-down($md) {
        padding: 0 25px;
    }
}
