///*------------------------------------*\
//    #CONNECTED-HEADER
//\*------------------------------------*/

.connected-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $grey;
    box-shadow: $shadow-1;
    height: 100px;

    &_content {
    }
}